<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <typeHandlers>
        <typeHandler handler="io.openharness.core.persistence.JsonTypeHandler"
                     javaType="java.util.List"/>
    </typeHandlers>
    <mappers>
        <mapper resource="mapper/SessionMapper.xml"/>
        <mapper resource="mapper/MessageMapper.xml"/>
        <mapper resource="mapper/InteractionMapper.xml"/>
        <mapper resource="mapper/ReplayMapper.xml"/>
    </mappers>
</configuration>
